<div class="blog-wrp">
  <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="blog-dtl-rgt">
					<div class="blg-dtl-img">
						<%= image_tag @blog.media.item.url, class: "img-responsive" %>
					</div>
					<h4><%= @blog.title %></h4>
					<p><%= @blog.description.html_safe %></p>
				</div>
			</div>
		</div>
	<%= link_to 'Back', blogs_path, class: 'btn btn-default'%>
  </div>
</div>
<% content_for :name do %>
  Blogs
<% end %>