<h1>Welcome to Therapist-Patient Application, <%= @user.first_name %></h1>
  <p>
    You have registered to Therapist-Patient Application,
    your email is: <%= @user.email %>.<br>
    your password is: <%= @user.password %>.<br>
  </p>
<p>Please login and change your password!</p>

<h3>DO NOT REPLY</h3>

<img src="https://admin.ecounsel.com/<%= image_url ("logo-sticky.png") %>">
