<p>This is to confirm that <%= @patient%> has registered for your Online Office at <a href="https://ecounsel.com">ecounsel.com</a>. </p>

<p>You may now provide counseling services with this client. To connect directly with this client and begin providing therapy, login at <a href="https://ecounsel.com">ecounsel.com</a>, Click My Clients and then click the particular client’s name </p>

<h3>DO NOT REPLY</h3>

<img src="https://admin.ecounsel.com/<%= image_url ("logo-sticky.png") %>">
