<h1>Hello, <%= @admin.first.first_name %></h1>
<h3><%= @user.first_name %> therapist has deactivate his account and some of his appointment is opened.
<%#= @admin.first.email %>

<h3>DO NOT REPLY</h3>

<img src="https://admin.ecounsel.com/<%= image_url ("logo-sticky.png") %>">
