<h1>Hello</h1>
<h3><%= @user.first_name %> therapist with email <%= @user.email%> and phone number <%= @user.phone_number%> has registered with Premium Plan. Please do the needful to enable Dedicated Business Phone Line and Online Faxing System features.
<%#= @admin.first.email %>


<h3>DO NOT REPLY</h3>

<img src="https://admin.ecounsel.com/<%= image_url ("logo-sticky.png") %>">
