<p>You have successfully registered with <a href="https://ecounsel.com">ecounsel.com</a> and you may now counsel with state of the art tools and build your online practice. We offer a wide variety of features in a securely encrypted platform that will make it very easy for you to counsel your clients anywhere, at anytime. As we continue to improve, we always welcome your feedback, which will help us make things even better for you. Feel free to contact us with any questions or comments at</p>

<p>info@ecounsel.com</p>


<h3>DO NOT REPLY</h3>

<img src="https://admin.ecounsel.com/<%= image_url ("logo-sticky.png") %>">
