<div class="inr-midle-wrp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="registr-inr">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="panrl-body-inr">
                <div class="panel-bx-login">
                  <%= render 'form' %>
                  <% content_for :name do %>
                    Edit Questionnaire
                  <% end %>
                  <%= link_to "Back", questionnaires_path, class: 'btn btn-default'%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
