<% if @consent_form.errors.any? %>
    <div id="error_explanation" align="center">
      <% @consent_form.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
<% end %>
<div class="row">
  <div class="form-group">
    <div class="frm-grp-inr">
      <%= f.text_field :name, autofocus: true, autocomplete: "name",
      class: 'form-control', placeholder: "Name" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <div class="frm-grp-inr">
      <%= f.cktext_area :content, autofocus: true, autocomplete: "content",
      class: 'form-control', placeholder: "Content" %>
    </div>
  </div>
</div>


<div class="submit-btn text-center">
  <%= f.submit  @consent_form.new_record? ? 'Add Consent Form' : 'Update Consent Form' ,class: "btn btn-default btn-blue"%>
</div>
