<%if message['redirect-url'].present?
		#@email_link = edit_api_v1_user_password_url(@resource, reset_password_token: @token)
		@email_link = message['redirect-url'].value+'/'+@token
	else
		@email_link = edit_password_url(@resource, reset_password_token: @token)
	end
%>
<p>Hello <%= @resource.email %>!</p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<%= link_to 'change password', @email_link %>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
